
body {
  background-color: #f5f7fa;
}

header {
  color:white;
  height: 114px;
}

header a {
  color: white;
  text-transform: capitalize;
}

.top-bg {
  width:100%;
  height: 185px;
  background-color:  #3e51b5;
  position: absolute;
  top:0px;
  left: 0px;
}

#icon-bar {
  margin-top: 30px;
}

#icon-bar i {
  margin-left: 20px;
  font-size: 1.5em;
}

main {
 position: relative;
}
